<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pguide.project.mapper.ProjectLogTopMapper">

    <sql id="selectDetailTop">
        log_id as logId,
        top.log_type_id as logTypeId,
        log_detail_type as logDetailType,
        log_info as logInfo,
        log_time as logTime,
        log_type as logType,
        log_author as logAuthor
    </sql>

    <select id="selectLogPage" resultType="com.pguide.project.controller.dto.ProjectLogAllInfoDto">
        select <include refid="selectDetailTop"/>
        from project_log_detail detail
        left join project_log_top top
        on detail.log_type_id = top.log_type_id
        <where>
            <if test="vo.logAuthor!=null and vo.logAuthor!=''">
                and top.log_author = #{vo.logAuthor}
            </if>
            <if test="vo.logType!=null and vo.logType!=''">
                and top.log_type = #{vo.logType}
            </if>
            <if test="vo.logDetailType!=null and vo.logDetailType!=0L">
                and detail.log_detail_type = #{vo.logDetailType}
            </if>
        </where>
    </select>

</mapper>